/** @format */

@import "tailwindcss";

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	/* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.cancel-btn {
	@apply px-4 py-[.3rem] text-[.9rem] font-semibold border border-gray-400 bg-gray-200 hover:bg-gray-300 rounded-md transition cursor-pointer;
}

.primary-btn {
	@apply px-4 py-[.3rem] text-[.9rem] font-semibold bg-blue-500 hover:bg-blue-700 transition cursor-pointer text-white  rounded-md;
}

.delete-btn {
	@apply px-4 py-[.3rem] text-[.9rem] font-semibold bg-red-500 hover:bg-red-700 transition cursor-pointer  text-white  rounded-md;
}

.scroll-bar-light::-webkit-scrollbar {
	height: 5px;
  width: 5px;
  background: white;
  -webkit-border-radius: 1ex;
}

.scroll-bar-light::-webkit-scrollbar-track {
	background: white;
}

.scroll-bar-light::-webkit-scrollbar-thumb {
	 background: gray;
  -webkit-border-radius: 1ex;
}

.scroll-bar-light::-webkit-scrollbar-corner {
  background: blue;
} 
.draggable {
  touch-action: manipulation; /* or none if needed */
  -webkit-user-select: none;
  user-select: none;
}
